@model ArcadePool.Models.Machine

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Machine</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Gametitle.GameName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gametitle.GameName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Provider.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Provider.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SerialNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SerialNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PurchaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchaseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DailyRentalprice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DailyRentalprice)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MachineID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
